html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
.el-card {
  margin-top: 20px;
}
.el-dialog__footer {
  transform: translateY(-20px);
}

.el-tag {
  margin: 10px;
}
.el-table-column {
  padding: 0;
}

.el-pagination {
  margin-top: 20px;
}
.el-cascader-panel {
  height: 300px;
}
.el-scrollbar__view{
  overflow: hidden;
}
